<% unless @rating.errors.empty? %>
  $("#rating-modal").html("<%= j(render partial: 'teachers/new_rating', locals: { rating: @rating }) %>");
  initRating();
<% else %>
  $("#rating-modal").modal("toggle");
  $(".js-empty-ratings").html('<%= I18n.t("views.teacher_profile.rating.ratings_title") %>');
  $(".js-ratings").prepend('<div class="js-rating-row" data-id="<%= @rating.id %>"><%= j(render partial: "teachers/rating_row", locals: { rating: @rating }) %></div>');
  $(".js-show-profile").html("<%= j(render partial: 'teachers/teacher_show_profile', locals: { teacher: @user }) %>");
  initReplyComment($(".js-rating-row[data-id=<%= @rating.id %>] .js-reply-comment"));
<% end %>
