
= form_for @search, url: url, method: :get do |f|

  %fieldset
    = f.label 'Nombre y Apellido'
    = f.text_field :complete_name_like

  %fieldset
    = f.label 'Materias'
    = f.select :subject_eq, Subject.all.map { |subject| [subject.name, subject.id] }

  %button{type: :reset} Clear
  = f.submit 'Search'
