.nested-fields
  .row
    .col-md-10
      .jumbotron
        .row
          = link_to_remove_association f, class: 'badge badge-danger pull-right' do
            = fa_icon 'times-circle', class: 'fa-lg'
          %br/
          %br/
        .row
          .form-group
            %label.control-label.col-md-2
              Lugar
            .col-md-10
              = f.text_field :name_of_the_place, class: 'form-control input-sm bounceIn animation-delay4'
          %br/
          %br/
        .row
          .form-group
            %label.control-label.col-md-2
              Descripcion
            .col-md-10
              = f.text_area :description, class: 'form-control input-sm bounceIn animation-delay4'
          %br/
          %br/
          %br/
        .row
          .form-group
            %label.control-label.col-md-2
              Inicio
            .col-md-10
              = f.text_field :period_start, value: f.try(:object).try(:period_start).try(:strftime, '%d/%m/%Y'), class: 'js-datepicker form-control bounceIn animation-delay4'
          %br/
          %br/
        .row
          .form-group
            %label.control-label.col-md-2
              Fin
            .col-md-10
              = f.text_field :period_end, value: f.try(:object).try(:period_end).try(:strftime, '%d/%m/%Y'), class: 'js-datepicker form-control bounceIn animation-delay4'
          %br/
          %br/
