.modal-dialog
  .modal-content
    = simple_form_for(rating, url: ratings_path, method: :post, remote: true, html: { style: "display:inline;" } ) do |f|
      .modal-header
        %button{ type:"button", class: "close", :'aria-label' => "Close", data: { dismiss: "modal" } }
          %span{ :'aria-hidden' => "true" }
            ×
        %h3.rating.modal-title
          = I18n.t('views.teacher_profile.rating.title')
      .modal-body
        .form-group
          .row
            %label.control-label.col-md-2
              = I18n.t('views.teacher_profile.rating.comment')
            .col-md-10
              %div{ class: "#{'field_with_errors' if rating.errors.key?(:comment)}" }
                = f.text_area :comment, class: "form-control", placeholder: "Ingrese un comentario"
                - if rating.errors.key?(:comment)
                  %span.help-block.red
                    = rating.errors[:comment].try(:first)
        .form-group
          .row
            %label.control-label.col-md-2
              = I18n.t('views.teacher_profile.rating.value')
            .col-md-10
              %div{ class: "#{'field_with_errors' if rating.errors.key?(:value)}" }
                .js-rating-stars
                  %input.rating{name: "rating[value]", type: "radio", value: "1", checked: ('checked' if rating.value == 1)}/
                  %input.rating{name: "rating[value]", type: "radio", value: "2", checked: ('checked' if rating.value == 2)}/
                  %input.rating{name: "rating[value]", type: "radio", value: "3", checked: ('checked' if rating.value == 3)}/
                  %input.rating{name: "rating[value]", type: "radio", value: "4", checked: ('checked' if rating.value == 4)}/
                  %input.rating{name: "rating[value]", type: "radio", value: "5", checked: ('checked' if rating.value == 5)}/
                - if rating.errors.key?(:value)
                  %span.help-block.red
                    = rating.errors[:value].try(:first)
        = f.hidden_field :user_id
        = f.hidden_field :teacher_profile_id
      .modal-footer
        = f.button :submit, I18n.t('views.teacher_profile.rating.create'), class: "btn btn-success", data: { disable_with: I18n.t('loading') }
        = link_to I18n.t('views.teacher_profile.rating.cancel'), "#", class: "btn", data: { dismiss: "modal" }
