.padding-md
  .row
    .col-md-5.col-sm-5
      .row
        .col-xs-6.col-sm-12.col-md-6.text-center
          = image_tag @user.avatar_url, class: "#{current_user.id == teacher.id ? 'js-loader img btn btn-file' : 'img' }" , size: '200x200'
          = form_tag upload_avatar_teachers_path, multipart: true, class: 'js-avatar-form hidden'  do |f|
            = file_field_tag :avatar, class: 'js-preview'
        .col-xs-6.col-sm-12.col-md-6
          %strong.font-14.text-center
            = teacher.decorate.display_name
          - if teacher.teacher_profile_avg_rating.present?
            %br
              = fa_icon 'star', class: 'fa-md'
              = teacher.teacher_profile_avg_rating.round
          - if teacher.teacher_profile_hour_rate.present?
            %br
              = fa_icon 'money', class: 'fa-md'
              = teacher.teacher_profile_hour_rate
          %small.block.text-muted
            = fa_icon 'envelope', class: 'fa-md'
            = teacher.email
          .seperator
          - if current_user.id != teacher.id
            = link_to new_conversation_path(linked_user_id: teacher.id), class: 'btn btn-info', data: { no_turbolink: true } do
              = fa_icon 'wechat', class: 'fa-lg'
              = I18n.t('views.teacher_profile.show.contact')
          .seperator
          - if current_user.id != teacher.id && !teacher.has_already_been_rate_by?(current_user)
            .js-rate-button
              = link_to new_rating_path(teacher_id: teacher.id), remote: true, class: "no-padding-left btn" do
                = fa_icon 'star', class: 'fa-md'
                = I18n.t('views.teacher_profile.show.rate')
          .new-rating
          - if current_user.id == teacher.id
            = link_to user_google_oauth2_omniauth_authorize_path, class: "no-padding-left btn" do
              - if current_user.logged?('google_oauth2')
                = image_tag('GooglePlus_color.png')
              -else
                = image_tag('GooglePlus_grey.png')
          .seperator
          - if current_user.id == teacher.id
            = link_to user_linkedin_omniauth_authorize_path, class: "no-padding-left btn" do
              - if current_user.logged?('linkedin')
                = image_tag('LINKEDIN_color.png')
              -else
                = image_tag('LINKEDIN_grey.png')
          - else
            = link_to teacher.linkedin_profile_url, class: "no-padding-left btn" do
              = image_tag('LINKEDIN_color.png')
