.padding-md
  .row
    .col-md-3.col-sm-3
      .row
        .col-xs-6.col-sm-12.col-md-6.text-center
          = image_tag @teacher.avatar_url, class: 'js-loader btn btn-file img-thumbnail', id:'preview', size: '200x200'
          = form_tag upload_avatar_teachers_path, multipart: true, class: 'js-avatar-form hidden'  do |f|
            = file_field_tag :avatar, { class: 'js-preview' }
        .col-xs-6.col-sm-12.col-md-6
          %strong.font-14.text-center
            = teacher.first_name
            = teacher.last_name
          %p
            = teacher.teacher_profile_hour_rate
          %small.block.text-muted
            = teacher.email
          .seperator
          - if current_user.id != teacher.id
            = link_to new_conversation_path(linked_user_id: teacher.id), class: 'btn btn-info', data: { no_turbolink: true } do
              = fa_icon 'wechat', class: 'fa-lg'
              = I18n.t('views.teacher_profile.show.contact')
          .seperator
          - if current_user.id != teacher.id
            = link_to root_path, class: 'js-popup-rating btn', data: { no_turbolink: true } do
              = fa_icon 'star', class: 'fa-md'
              Calificar
