.panel.panel-default
= simple_form_for(teacher, url: teacher_path, method: :put, html: { class: 'js-teacher-form' }) do |teacher_form|
  .panel-heading
    = I18n.t('views.teacher_profile.edit.basic_info')
  .panel-body
    .form-group
      %label.control-label.col-md-2
        = I18n.t('activerecord.attributes.user.first_name')
      .col-md-8
        = teacher_form.input :first_name, label: false, input_html: { class: 'form-control input-sm bounceIn animation-delay2' }
    %br/
    %br/
    .form-group
      %label.control-label.col-md-2
        = I18n.t('activerecord.attributes.user.last_name')
      .col-md-8
        = teacher_form.input :last_name, label: false, input_html: { class: 'form-control input-sm bounceIn animation-delay3' }
    %br/
    %br/

    = teacher_form.simple_fields_for :location do |teacher_location_form|
      .form-group
        %label.control-label.col-md-2
          = I18n.t('views.teacher_profile.edit.location')
        .col-md-8
          = teacher_location_form.hidden_field :id
          = teacher_location_form.hidden_field :lat, class: 'js-lat-attribute'
          = teacher_location_form.hidden_field :lng, class: 'js-lng-attribute'
          = teacher_location_form.hidden_field :full_address, class: 'js-full-address-attribute'
          = text_field_tag "location_name", teacher_location_form.object.full_address, class: "form-control input-sm bounceIn animation-delay4", id: "js-location-input", name: "location[name]"
    %br/
    %br/
    = teacher_form.simple_fields_for :teacher_profile do |teacher_profile_form|
      .form-group
        %label.control-label.col-md-2
          = I18n.t('views.teacher_profile.edit.description')
        .col-md-8
          = teacher_profile_form.text_area :description, class: 'form-control input-sm bounceIn animation-delay4'
      %br/
      %br/
      %br/
      .form-group
        %label.control-label.col-md-2
          = I18n.t('views.teacher_profile.edit.hour_rate')
        .col-md-8
          = teacher_profile_form.text_field :hour_rate, class: 'js-decimal-mask form-control input-sm bounceIn animation-delay5'
      %br/
      %br/
      .form-group
        %label.control-label.col-md-2
          = I18n.t('views.teacher_profile.edit.type_of_service')
        .col-md-8
          - TeacherProfile.type_of_services.keys.each do |type|
            = teacher_profile_form.radio_button :type_of_service_cd, TeacherProfile.type_of_services[type], checked: (@user.teacher_profile.type_of_service_cd || TeacherProfile.type_of_services[:both]) == TeacherProfile.type_of_services[type]
            %span.custom-radio
            = I18n.t("teacher_profile.type_of_service.#{type}")
      %br/
      %br/
      .form-group
        %label.control-label.col-md-2
          = I18n.t('views.teacher_profile.edit.level')
        .col-md-8
          - TeacherProfile.levels.keys.each do |level|
            = teacher_profile_form.radio_button :level_cd, TeacherProfile.levels[level], checked: (@user.teacher_profile.level_cd || TeacherProfile.levels[:all]) == TeacherProfile.levels[level]
            %span.custom-radio
            = I18n.t("teacher_profile.level.#{level}")
      %br/
      %br/
      .form-group
        %label.control-label.col-md-2
          = I18n.t('views.teacher_profile.edit.subjects')
        .col-md-8
          = teacher_profile_form.select(:subject_ids, options_from_collection_for_select(subjects, :id, :name, teacher_profile_form.object.subject_ids), {:include_blank => "Select"} , {multiple: true, class: "form-control chzn-select"} )
      %br/
      %br/
      .panel-heading
        = I18n.t('views.teacher_profile.show.work_experience')
      .panel-body
        .form-inline
        = teacher_profile_form.simple_fields_for :works do |teacher_experiences_fields|
          = render 'experience_fields', f: teacher_experiences_fields
        .links
          = link_to_add_association teacher_profile_form, :works, partial: 'experience_fields', class: 'btn btn-success' do
            = I18n.t('views.teacher_profile.edit.add_work')
            = fa_icon 'plus-circle', class: 'fa-lg'

      .panel-heading
        = I18n.t('views.teacher_profile.show.studies')
      .panel-body
        .form-inline
        = teacher_profile_form.simple_fields_for :studies do |teacher_experiences_fields|
          = render 'experience_fields', f: teacher_experiences_fields
        .links
          = link_to_add_association  teacher_profile_form, :studies, partial: 'experience_fields', class: 'btn btn-success' do
            = I18n.t('views.teacher_profile.edit.add_study')
            = fa_icon 'plus-circle', class: 'fa-lg'




  .panel-footer
    .form-group
      .controls.text-right
        = link_to 'Cancelar', teacher_path, class: 'btn btn-danger btn-sm'
        = teacher_form.submit I18n.t('views.teacher_profile.edit.save_changes'), class: 'btn btn-success btn-sm'
