.row
  .col-xs-12
    .panel.panel-default.fadeInDown.animation-delay2
      .panel-heading
        = I18n.t("views.teacher_profile.show.about_me")
      .panel-body
        %p
          = teacher.teacher_profile_description
        .seperator
        %label.control-label.col-md-4
          = I18n.t('views.teacher_profile.edit.type_of_service')
        .col-md-8
          - TeacherProfile.type_of_services.keys.each do |type|
            = radio_button :type_of_service_cd, TeacherProfile.type_of_services[type], checked: (@user.teacher_profile.type_of_service_cd || TeacherProfile.type_of_services[:both]) == TeacherProfile.type_of_services[type]
            %span.custom-radio
            = I18n.t("teacher_profile.type_of_service.#{type}")
        %br
        .seperator
        %label.control-label.col-md-4
          = I18n.t('views.teacher_profile.edit.level')
        .col-md-8
          - TeacherProfile.levels.keys.each do |level|
            = radio_button :level_cd, TeacherProfile.levels[level], checked: (@user.teacher_profile.level_cd || TeacherProfile.levels[:all]) == TeacherProfile.levels[level]
            %span.custom-radio
            = I18n.t("teacher_profile.level.#{level}")
    %h4.headline
      = I18n.t("views.teacher_profile.show.subjects")
    .fadeInDown.animation-delay3
      = select_tag(:subject_ids, options_from_collection_for_select(teacher.teacher_profile.subjects, :id, :name, teacher.teacher_profile.subject_ids), {multiple: true, class: "form-control chzn-select", disabled: true} )
