.modal-dialog
  .model-header
    %h3.rating New Rating
  .modal-content
    = simple_form_for @rating, remote: true, html: { style: "display:inline;" } do |f|
      .modal-body
        %ul.errors
        .form-group
          %label.control-label
          = I18n.t("views.teacher_profile.rating.comment")
          .col-md-10
          = f.text_area :comment, class: "form-control", placeholder: "Ingrese un comentario"
        .form-group
          %label.control-label
          = I18n.t("views.teacher_profile.rating.value")
          .col-md-10
          = f.text_field :value, class: "form-control", type: "number", max: "10", min: "1", placeholder: "Ingrese una calificación"
          .col-md-8
          =f.hidden_field :user_id
          =f.hidden_field :teacher_profile_id
      .modal-footer
        = f.submit class: "btn btn-primary"
        = link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"}
