.w3-container
  %div#breadcrumb
    %ul.breadcrumb.text-right
      %li
        = link_to root_path, class: 'btn btn-sm' do
          = fa_icon 'home', class: 'fa-lg'
          = I18n.t("views.teacher_profile.show.home")
      %li
        = I18n.t("views.teacher_profile.show.profile")
    .row
      .panel.panel-default
        .panel-tab.clearfix
          %ul.tab-bar
            %li.active
              %a{"data-toggle" => "tab", :href => "#profile"}
                %i.fa.fa-user
                  = I18n.t("views.teacher_profile.show.profile")
            %li
              %a{"data-toggle" => "tab", :href => "#edit-profile"}
                %i.fa.fa-pencil
                  = I18n.t("views.teacher_profile.show.edit-profile")
      .panel-body
        .tab-content
          #profile.tab-pane.fade.active.in
            = render 'teacher_show_profile'

            = render 'teacher_show_description'

            = render 'teacher_show_work_experience'

            = render 'teacher_show_study_experience'


          #edit-profile.tab-pane.fade
            %h1
            Hola
