.w3-container
  %div#breadcrumb
    %ul.breadcrumb.text-right
      %li
        = link_to root_path, class: 'btn btn-sm' do
          = fa_icon 'home', class: 'fa-lg'
          = I18n.t("views.teacher_profile.show.home")
      %li
        = I18n.t("views.teacher_profile.show.profile")
    .row
      .col-md-3col-sm-3
        .padding-md
          .row
            .col-md-3.col-sm-3
              .row
                .col-xs-6.col-sm-12.col-md-6.text-center
                  %img{:src => "/assets/empty_user.png"}
                .col-xs-6.col-sm-12.col-md-6
                  %strong.font-14.text-center
                    = @teacher.first_name
                    = @teacher.last_name
                  %p
                    = @teacher.teacher_profile_hour_rate
                  %small.block.text-muted
                    = @teacher.email
                  .seperator


      .col-md-9.col-sm-9
        .tab-content
          .tab-pane.fade.in.active
            .row
              .col-md-6
                .panel.panel-default.fadeInDown.animation-delay2
                  .panel-heading
                    %h4= I18n.t("views.teacher_profile.show.about_me")
                    .panel-body
                      %p
                      = @teacher.teacher_profile_description
        .panel.m-top-md
        %h4.headline
          My Skill
          %span.line
        %dl
          - @teacher.subjects.each do |subject|
            %dt
              = subject.name
              %br
