#username{ data: { username: current_user.decorate.display_name } }

.content.container-fluid.bootstrap.snippets
  .row.row-broken
    .col-xs-12.chat.chat-table-scrollable.hidden{tabindex: "5001"}
      .col-inside-lg.decor-default.chat-background
        .chat-body
          - MessageDecorator.decorate_collection(@messages).each do |message|
            = render 'message_row', message: message

        .chat-inputs
          .answer-add
            = form_for @message, url: (@conversation.persisted? ? conversation_path : conversations_path), method: (@conversation.persisted? ? :put : :post), remote: (@conversation.persisted? ? true : false) do |f|
              = f.hidden_field :sender_id
              = f.hidden_field :receiver_id
              = f.hidden_field :conversation_id
              = f.text_area :message, placeholder: I18n.t('views.conversations.show.conversations_table.write_message')
              %span.answer-btn.answer-btn-2
