.row
  .col-md-6
    .panel-heading
      .h3
        = I18n.t("views.group_lessons.index.group_lessons", class:'lessons')
      .panel-body
        %table.table.table-hover.table-striped.js-group-lessons-table
          %thead
            %tr
              %th= I18n.t("views.group_lessons.index.subject")
              %th= I18n.t("views.group_lessons.index.day_and_hour")
              %th= I18n.t("views.group_lessons.index.teacher")
              %th= I18n.t("views.group_lessons.index.action")
          - unless lessons.nil?
            %tbody
              - lessons.each do |lesson|
                = render 'group_lessons_row', lesson: lesson.decorate
        - if current_user.has_role?(:teacher)
          .pull-right
            = link_to I18n.t("views.group_lessons.index.new_lesson"), new_group_lesson_path, class: 'btn btn-success', remote: true
