.row
  .col-md-12
    .panel-heading
      %h2.text-center.text-success
        %strong
          = I18n.t("views.group_lessons.index.group_lessons")
      %hr/
      %br/
      .panel-body
        %table.table.table-hover.table-striped.js-group-lessons-table
          %thead
            %tr
              %th= I18n.t("views.group_lessons.index.subject")
              %th= I18n.t("views.group_lessons.index.day_and_hour")
              %th= I18n.t("views.group_lessons.index.teacher")
              %th= I18n.t("views.group_lessons.index.action")
          - unless lessons.nil?
            %tbody
              - lessons.each do |lesson|
                = render 'group_lessons_row', lesson: lesson.decorate
        - if partial == 'my_lessons'
          .pull-right
            = link_to I18n.t("views.group_lessons.index.new_lesson"), new_group_lesson_path, class: 'btn btn-success', remote: true
        = paginate lessons, remote: true, param_name: "page_#{partial}", params: { partial: partial }
