.w3-container
  %div#breadcrumb
    %ul.breadcrumb.text-right
      %li
        = link_to root_path, class: 'btn btn-md' do
          = fa_icon 'home', class: 'fa-lg'
          = I18n.t("views.teacher_profile.show.home")
      %li
        = I18n.t("views.teacher_profile.show.group_lessons")
  .panel#headers
    = link_to new_group_lesson_path(teacher_id: current_user.id) ,class: 'btn btn-md' do
      = I18n.t("views.group_lessons.index.new_lesson")
  .panel#table
    = render 'group_lessons', lessons: @lessons
