.w3-container
  %div#breadcrumb
    %ul.breadcrumb.text-right
      %li
        = link_to root_path, class: 'btn btn-md' do
          = fa_icon 'home', class: 'fa-lg'
          = I18n.t("views.teacher_profile.show.home")
      %li
        = I18n.t("views.teacher_profile.show.group_lessons")
  .panel.panel-default
    .panel-tab.clearfix
      %ul.tab-bar.grey-tab
        %li{ class: "#{'active' if @tab == 'lessons'}" }
          %a{"data-toggle" => "tab", :href => "#lessons"}
            %span.block.text-center
              %i.fa.fa-user.fa-2x
            = I18n.t("views.group_lessons.index.group_lessons")
        - if current_user.has_role?(:teacher)
          %li{ class: "#{'active' if @tab == 'my_lessons'}" }
            %a{"data-toggle" => "tab", :href => "#my_lessons"}
              %span.block.text-center
                %i.fa.fa-edit.fa-2x
              = I18n.t("views.group_lessons.index.my_lessons")
          
    .panel-body
      .tab-content
        #lessons.tab-pane.fade{ class: "#{'active in' if @tab == 'lessons'}" }
          .w3-container
            = render 'group_lesson_filters', search: @search, url: group_lessons_path
            .js-lessons-content
              = render 'group_lessons', lessons: @lessons, partial: 'lessons'
        #my_lessons.tab-pane.fade{ class: "#{'active in' if @tab == 'my_lessons'}" }
          .w3-container
            .js-lessons-content
              = render 'group_lessons', lessons: @my_lessons, partial: 'my_lessons'

#js-show-modal.modal.fade
#js-update-modal.modal.fade