.login-wrapper
  .text-center
    %h2.fadeInUp.animation-delay8{ style: 'font-weight:bold' }
      %span.text-success
        = I18n.t('brand.pre')
      %span.orange{ style: 'text-shadow:0 1px #fff; margin-left: -5px;' }
        = I18n.t('brand.post')
  .login-widget.animation-delay1
    .panel.panel-default
      .panel-heading.clearfix
        .pull-left
          = fa_icon 'plus-circle', class: 'fa-lg'
          = I18n.t('views.sign_up.sign_up_title')
        .pull-right
          %span{ style:'font-size:11px;' }
            = I18n.t('views.sign_up.have_account')
          = link_to new_user_session_path, class: 'btn btn-default btn-xs login-link', style: 'margin-top:-2px;' do
            = fa_icon 'sign-in'
            = I18n.t('views.sign_up.sign_in')
      .panel-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-login') do |f|
          .form-group
            %label
              = I18n.t('activerecord.attributes.user.first_name')
            %br/
            = f.text_field :first_name, class: 'form-control input-sm bounceIn animation-delay2'
          .form-group
            %label
              = I18n.t('activerecord.attributes.user.last_name')
            %br/
            = f.text_field :last_name, class: 'form-control input-sm bounceIn animation-delay2'
          .form-group
            %label
              = I18n.t('activerecord.attributes.user.email')
            %br/
            = f.email_field :email, autofocus: true, class: 'form-control input-sm bounceIn animation-delay2'
          .form-group
            .row
              .col-xs-12
                %label
                  = I18n.t('activerecord.attributes.user.gender')
            .row
              .col-xs-12
                - User::GENDER.values.each do |gender|
                  %label.label-radio.inline
                  = f.radio_button :gender, gender , checked: (@user.gender || User::GENDER[:MALE]) == gender
                  %span.custom-radio
                  = I18n.t("user.genders.#{gender.downcase}")
          .form-group
            %label
              = I18n.t('activerecord.attributes.user.password')
            - if @minimum_password_length
              %em
                = "(#{@minimum_password_length} #{I18n.t('views.sign_up.password_length')})"
            %br/
            = f.password_field :password, autocomplete: "off", class: 'form-control input-sm bounceIn animation-delay2'
          .form-group
            %label
              = I18n.t('activerecord.attributes.user.password_confirmation')
            %br/
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control input-sm bounceIn animation-delay2'
            %hr/
          .form-group
            .controls.text-right
              = f.button :submit, class: 'btn btn-success btn-sm bounceIn animation-delay7' do
                = fa_icon 'plus-circle'
                = I18n.t('views.sign_up.sign_up')
