- @current_user = current_user.decorate
- user_unreaded_messages = @current_user.unreaded_messages || 0

%aside.fixed.skin-6
  .slimScrollDiv{:style => "position: relative; overflow: hidden; width: auto; height: 100%;"}
    .sidebar-inner.scrollable-sidebar{:style => "overflow: hidden; width: auto; height: 100%;"}
      .size-toggle
        .text-right
          = link_to destroy_user_session_path,  method: :delete, class: 'btn btn-sm' do
            = fa_icon 'power-off', class: 'fa-lg'
      .user-block.clearfix
        = image_tag @current_user.avatar_url
        .detail
          %strong
            = @current_user.display_name
      / /user-block
      / /search-block
      .main-menu
        %ul
          %li{class: "#{'active' if controller_name == 'teachers' && action_name == 'index'}"}
            = link_to root_path do
              %span.menu-icon
                = fa_icon 'group', class: 'fa-lg'
              %span.text
                = I18n.t('views.aside.teachers')
              %span.menu-hover
          %li{class: "#{'active' if controller_name == 'teachers' && action_name == 'show' && @user.try(:==, current_user)}"}
            - if current_user.has_role?(:teacher)
              = link_to teacher_path(current_user) do
                %span.menu-icon
                  = fa_icon 'user', class: 'fa-lg'
                %span.text
                  = I18n.t('views.aside.profile')
                %span.menu-hover
          %li{class: "#{'active' if controller_name == 'conversations'}"}
            = link_to conversations_path do
              %span.menu-icon
                = fa_icon 'wechat', class: 'fa-lg'
              %span.text
                = I18n.t('views.aside.conversation')
              - if user_unreaded_messages > 0
                %span.badge.badge-success.bounceIn.animation-delay5
                  = user_unreaded_messages
              %span.menu-hover
          %li{class: "#{'active' if controller_name == 'institution'}"}
            = link_to '#' do
              %span.menu-icon
                = fa_icon 'institution', class: 'fa-lg'
              %span.text
                = I18n.t('views.aside.institutions')
              %span.menu-hover
          %li{class: "#{'active' if controller_name == 'group_lessons'}"}
            = link_to group_lessons_path do
              %span.menu-icon
                = fa_icon 'book', class: 'fa-lg'
              %span.text
                = I18n.t('views.aside.group_classes')
              %span.menu-hover





            -# %ul.submenu
            -#   %li
            -#
            -#       %span.text
            -#         = I18n.t('views.aside.group_classes_all')
            -#       %span.menu-hover
            -#   %li
            -#     = link_to group_lessons_path(user: current_user) do
            -#       %span.text
            -#         = I18n.t('views.aside.group_classes_mine')
            -#       %span.menu-hover

          / %li.openable
          /   %a{:href => "#"}
          /     %span.menu-icon
          /       %i.fa.fa-file-text.fa-lg
          /     %span.text
          /       Page
          /     %span.menu-hover
          /   %ul.submenu
          /     %li
          /       %a{:href => "login.html"}
          /         %span.submenu-label Sign in
          /     %li
          /       %a{:href => "register.html"}
          /         %span.submenu-label Sign up
          /     %li
          /       %a{:href => "lock_screen.html"}
          /         %span.submenu-label Lock Screen
          /     %li
          /       %a{:href => "profile.html"}
          /         %span.submenu-label Profile
          /     %li
          /       %a{:href => "blog.html"}
          /         %span.submenu-label Blog
          /     %li
          /       %a{:href => "single_post.html"}
          /         %span.submenu-label Single Post
          /     %li
          /       %a{:href => "landing.html"}
          /         %span.submenu-label Landing
          /     %li
          /       %a{:href => "search_result.html"}
          /         %span.submenu-label Search Result
          /     %li
          /       %a{:href => "chat.html"}
          /         %span.submenu-label Chat Room
          /     %li
          /       %a{:href => "movie.html"}
          /         %span.submenu-label Movie Gallery
          /     %li
          /       %a{:href => "pricing.html"}
          /         %span.submenu-label Pricing
          /     %li
          /       %a{:href => "invoice.html"}
          /         %span.submenu-label Invoice
          /     %li
          /       %a{:href => "faq.html"}
          /         %span.submenu-label FAQ
          /     %li
          /       %a{:href => "contact.html"}
          /         %span.submenu-label Contact
          /     %li
          /       %a{:href => "error404.html"}
          /         %span.submenu-label Error404
          /     %li
          /       %a{:href => "error500.html"}
          /         %span.submenu-label Error500
          /     %li
          /       %a{:href => "blank.html"}
          /         %span.submenu-label Blank

      / /main-menu
    .slimScrollBar{:style => "background: rgb(0, 0, 0); width: 0px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 456.037px;"}
    .slimScrollRail{:style => "width: 0px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"}
  / /sidebar-inner
