!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Universitate
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = action_cable_meta_tag
  %body
    - if user_signed_in?
      = render 'layouts/aside'
    %div{ id: "#{'main-container' if user_signed_in?}" }
      - flash.each do |key, value|
        %div{class: "text-center alert alert-#{key}"}
          = link_to '#', class: 'close', data: {dismiss: "alert"} do
            ×
          = value
      = yield
